<h1><%= league.name %></h1>

<% teams.forEach(function(team) { %>
    <div>
      <a href="/teams/<%= team.id %>"><h4><%= team.name %></h4></a><p> — <%= team.user.name %></p>
    </div>
 <% }); %>

 <% if (currentUser && userTeam.role === "admin") { %>
     <a class="btn pink accent-2" type="button" href="/leagues/<%= league.id %>/manage">Manage League</a>
   <% } %>
